body{
    
}

.squares{
    border: 2px solid white;
    background-color: white;
}

.squareContainer{
    display:grid;
    width: 500px;
    height:500px;
    border: 2px solid black;
}

.squareSquare{
    display:flex;
    justify-content:space-around;
}

.text1{
    display:flex;
    justify-content:center;
    margin-bottom:100px;
    font-size:80px;
    font-style:bolder;
    color:black;
}
.buttons{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly
}

#button{
    background-color:black;
    color:white;
    padding-top: 10px;
    padding-bottom:10px;
    padding-right:50px;
    padding-left:50px;
    font-size: 36px;
    border-radius: 20px;
}

.row{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.columnsquare{
    border: 2px solid gray;
    background-color:white;
    min-height: 20px;
    min-width:20px;

}